<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.miromannino.new-terminal-window</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2218857E-BE59-4104-8D07-0C676227612A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A15FFE2-DCAE-4ED9-A69C-1096138C6DA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>79A95542-8FA7-4417-82E5-C6130364D596</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>535A3901-C929-4D7D-8693-065D295A6E39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>369F2335-040A-482A-B8AD-8A31FAAB3B05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F5AA9822-2B99-4E73-AFE8-489815285043</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F97EB9AC-260D-485E-955B-22F611F558D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>369F2335-040A-482A-B8AD-8A31FAAB3B05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F5AA9822-2B99-4E73-AFE8-489815285043</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Miro Mannino</string>
	<key>description</key>
	<string>Open a new terminal window</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>New Terminal Window</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tw</string>
				<key>subtext</key>
				<string>Default profile</string>
				<key>text</key>
				<string>New iTerm window</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>535A3901-C929-4D7D-8693-065D295A6E39</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>osascript iterm_new.scpt "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>369F2335-040A-482A-B8AD-8A31FAAB3B05</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>osascript iterm_new.scpt "{query}" "cdf"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F5AA9822-2B99-4E73-AFE8-489815285043</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tw</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python tw.py {query}</string>
				<key>subtext</key>
				<string>Choose profile</string>
				<key>title</key>
				<string>New iTerm window</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F97EB9AC-260D-485E-955B-22F611F558D5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>osascript term_new.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9A15FFE2-DCAE-4ED9-A69C-1096138C6DA5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ttw</string>
				<key>subtext</key>
				<string>Terminal</string>
				<key>text</key>
				<string>New Terminal window</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2218857E-BE59-4104-8D07-0C676227612A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>osascript term_new.scpt "cdf"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>79A95542-8FA7-4417-82E5-C6130364D596</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2218857E-BE59-4104-8D07-0C676227612A</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>369F2335-040A-482A-B8AD-8A31FAAB3B05</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>535A3901-C929-4D7D-8693-065D295A6E39</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>79A95542-8FA7-4417-82E5-C6130364D596</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>9A15FFE2-DCAE-4ED9-A69C-1096138C6DA5</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>F5AA9822-2B99-4E73-AFE8-489815285043</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>F97EB9AC-260D-485E-955B-22F611F558D5</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>miromannino.com</string>
</dict>
</plist>
